body {
  background-color: #004c56;
  color: azure;
}

.gif-container {
  background-image: url("./media/thor.gif");
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 480px;
  align-self: center;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.welcome {
  width: 40%;
  height: fit-content;
  cursor: none;
}

nav ul {
  background-color: #222830;
  font-weight: bolder;
  justify-content: space-between;
}
nav ul span{
  display: flex;
  align-items: center;
  font-size: 17px;
}
nav ul a {
  color: #f4841a !important;
}
nav ul a .active {
  color: #ecbd8b !important;
}
nav ul a:hover {
  color: #b0b5b5 !important;
}
.greenfoot{
  margin: 10px;
  margin-left: 20px;
}