body {
  background-color: #004c56;
  color: azure;
  padding-bottom: 10px;
}

nav ul {
  background-color: #222830;
  font-weight: bolder;
  justify-content: space-between;
}
nav ul span{
  display: flex;
  align-items: center;
  font-size: 17px;
}
nav ul a {
  color: #f4841a !important;
}
nav ul a.active {
  color: #ecbd8b !important;
}
nav ul a:hover {
  color: #b0b5b5 !important;
}
.greenfoot{
  margin: 10px;
  margin-left: 20px;
}

.form-control {
  width: 75%;
  margin-bottom: 20px;
}
.btn{
  width: 50%;
}
.forecast {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecastCard {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
  margin-top: 0;
}
.forecastItem {
  margin: 10px;
}
.list-group-item {
  background-color: #222830;
  height: 80px;
  border: 2px dashed #f4841a;
}

.bigForecastCard {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.localWeatherCard {
  background-color: #f4841a;
  padding: 20px;
  border-radius: 0 15px 15px 0;
  margin-left: -20px;
}
.localWeatherCard .list-group-item {
  background-color: #222830;
  height: 80px;
  border: 2px dashed #ecbd8b;
}
.innerlocalWeatherCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.localWeatherCard:hover {
  cursor: pointer;
}
.innerlocalWeatherCard p {
  font-weight: bolder;
  align-self: center;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
}
